
/* Global Styles */
*{
    font-family: 'Lato', sans-serif;
}
/* Banner Section */
.banner {
background-color:rgba(229, 84, 115, 0.10) ;

display: flex;
justify-content: space-between;
padding: 50px 240px 0px 240px;
}


.banner_title{
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.banner_description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 32px;
    padding-bottom: 32px;

}

.banner_btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #FFF;
    font-size: 20px;
    background: #E55473;
    padding: 20px 43px 20px 43px;
    border: solid #ffcc4c 2px;
    text-decoration: none;
  }
  
  .banner_btn:hover {
    background: #b34ce6;
    text-decoration: none;
  }

  .leftside_banner{
    padding-right: 100px;
  }


/* Feature Section */

  
.feature{
    padding: 150px 240px 100px 240px;
}

.feature_title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.feature_description{

color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

.feature_image1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px 76px;
    
}

.feature_image2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin: 0px 24px;
    padding: 117px 47px 51px 47px;

}

.feature_image3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0px 75px;

}

.feature_image{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.feature_link{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.feature_underlinetext{

    display: flex;
}

.feature_link1{
    margin:0px 0px 0px 150px;
}


.feature_link2{
    margin:0px 0px 0px 290px;
}

.feature_link3{
    margin:0px 0px 0px 300px;
}

.website{

border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
margin: 0px 240px;
min-height: 300px;
padding: 0px 200px;
display: flex;
justify-content: space-between;
align-items: center;
}

.website_text{

color: rgba(39, 39, 39, 0.80);
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 35px;
}

.website_image1{

padding-left: 100px;
}

.website_image2{
padding-left: 90px;
}

.website_image3{

padding-left: 50px;
}    

.deal{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    min-height: 620px;
    margin-top: 150px;
    padding: 0px 429px 0px 400px;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.deal_title{
color: #272727;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-left: 50px;

}

.deal_redtitle{
color: #E55473;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.deal_paragraph{

color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
text-align: center;
}

.deal_button{
 margin-left: 250px;
}


.latestdeal{
    margin: 100px 240px;



}

.latestdeal_image{


    align-items: center;

}

.latestdeal_title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.latestdeal_description{

    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 400px;
    
}

.imagedeal1{
    margin-right: 10px;
    margin-left: 10px;
}

.imagedeal2{
    margin-right: 8px;
    
}

.latestdeal_subscriber{

border-radius: 8px;
background:url(./Images/Rectangle.png), lightgray 0px -203.444px / 100% 213.755% no-repeat;
min-height: 449px;
}


.footer{

background-color: #272727;
min-height: 449px;
padding: 128px 0px 0px 0px;
text-align: center;


}

.footer_logo1{

color: #E55473;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;


}

.footer_logo2{
color: #FFFFFF;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;}

.footer_desciption{

    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
   padding:0px 646px;
}

.footer_copyright{

    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.latestdeal_title2{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 122px;


}

.latestdeal_description2{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}


.input-field{
border-radius: 8px;
background: #FFF;
width: 700px;
height: 64px;
flex-shrink: 0;

}

.input-fieldhead{
    display: flex;
    justify-content: center;
   
}

::placeholder { 
color: rgba(39, 39, 39, 0.60);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

.subscribebtn{

    margin-right: 16px;
    padding-right: 16px;
}